---
layout: archive
---
<h2> ABOUT ME </h2>

<p style="text-align:justify"> <small>   
Hello! I'm Senem, a passionate Artificial Intelligence Engineer with 3 years of industry experience. I obtained my Master degree in Artificial 
Intelligence (AI) (2024), I hold a Bachelor in Computer Engineering. My main research focuses on tracking, detection, classification, segmentation, 
pose estimation, data analysis, and programming. <br>
  
<!-- My expertise lies in enhancing products using AI, focusing on computer vision and image processing. However, I am also intrigued 
by Natural Language Processing and dedicate some of my free time to exploring its possibilities. 
  
I often dedicate part of my free time to experimenting with the latest methods, tools, and frameworks in the field when I get 
the chance. To date, I have contributed to various projects, frequently publishing results in peer-reviewed proceedings 
and conferences dedicated to Computer Vision, Image Processing, NLP. Many of these works have centered on improving
traditional tasks such  as classification, sentiment analysis and feature extraction, employing varios and modern techniques like Deep 
Convoulutional Neural Networks, Pose Estimations, Word embeddings. All in all, my goal remains to stay on top of the latest advancements 
and share insights through active participation. -->
</p>

<h2> RESEARCH INTERESTS </h2>
<ul>
    <li>Computer Vision (mainly Tracking)</li>
    <li>Deep Learning</li>
    <li>Image Processing </li>
    <li>Machine Learning</li>
</ul>

<h2> MASTER COURSES </h2>
<ul>
    <li>Machine Learning and Pattern Recognition </li>
    <li>Image and video processing </li>
    <li>Computer Vision </li>
    <li>Principles of AI </li>
    <li>Optimization for AI </li>
    <li>Reinforcement Learning </li>
    <li>Cloud Computing </li>
    <li>Research Methods and Ethics </li>
</ul>

<h2> THESIS AND PAPERS </h2>

<ol>
<li> Master of Science - Artificial Intelligence (2024): "Detection and Tracking Tiny Parasites on Video (Under Journal Review)" </li>
<li> Bachelor in Computer Engineering (2020) : “Computing Turkish Movie Stars Screen Time Using Deep Convolutional Networks”. </li>
</ol>

<h3>  A. JOURNALS </h3>
       <ol> 
       <li> Postalcioglu, S., & Aktas, S. (2020).” Comparison of Neural Network Models for Nostalgic Sentiment Analysis of YouTube Comments.” Hittite Journal of Science and Engineering, 7(3), 215- 221. </li>
       </ol>

<h3>  B. CONFERENCES </h3>
       <ol>
       <li> Aktaş, S., & Kayıkçı, Ş. (2021).“Computing Turkish Movie Stars Screen Time Using Deep Convolutional Networks”. VI. International Mardin Artuklu Scientific Research Congress, (83- 94), Turkey. </li>
       <li> Chakraborty S., Aktaş S., Clifford W., & Timoney J. (2021) , “Beat Estimation From Musician Visual Cues”. Proceedings of the 18th Sound and Music Computing Conference (SMC), (46-52) , Italy. </li>
       </ol>
<a href="https://github-readme-stats.vercel.app/api?username=senemaktas&show_icons=true&theme=prussian&count_private=true&text_color=ffffff&title_color=fe0278"><a/>
