---
layout: archive
---
<h3> About Me </h3>

<p style="text-align:justify"> <small>  Hi, I am Senem 👋. I am a Computer Engineer who is extremely passionate about science. I have been working as a Machine Learning Engineer.
Since I started my undergraduate education, my areas of interest have always been Artificial Intelligence, Statics and Mathematics. 
In addition to my professional activities, I carry out projects with university groups as a volunteer researcher. I have several journal 
and conferences publications on Computer Vision and Natural Language Processesing. I strive for excellence in my contributions. If you wish 
  to wiev my publications click the <b> Publication </b> section. I also design web pages as a hobby. On my page, I share the links of my articles 
I published on Medium and my projects. </small> </p>

<h6> My interests and learning paths </h6>

<style>

.column {
-moz-column-count: 2; /* For FireFox */
-webkit-column-count: 2; /* For Safari/Chrome */
column-count: 2; /* For when the standard gets fully supported */
font-size: 15px;
}
</style>

<div class="column">
<ul>
  <li>Natural Language Processing</li>
  <li>Machine Learning</li>
  <li>Data Visualization </li>
  <li>Statistics & Math</li>
</ul>
<ul>
  <li>Computer Vision</li>  
  <li>Big Data & Analysis</li>
  <li>Websites</li>
  <li>Programming</li>
</ul>
</div>

<a href="https://github-readme-stats.vercel.app/api?username=senemaktas&show_icons=true&theme=prussian&count_private=true&text_color=ffffff&title_color=fe0278"><a/>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
