---
layout: archive
---

<h2> About Me </h2>

<p align="justify"> My name is Senem 👋. I am a computer engineer who wants to improve herself in the field of data science.
I would like to describe myself as a GNU / Linux lover. penguin :penguin: Since the field of data science is a wide field, 
I would like to study in this field because I will always have a lot to learn. :bar_chart: One of my goals is to contribute 
mathematically and statistically to this area. During my engineering education, I took courses on C, C #, Java, Python and R
programming languages. So I'm familiar with these languages. I am currently continuing with Python.  On my page, I share the 
links of my articles I published on Medium and my projects. As a hobby, I enjoy creating websites and reading books. </p>


<h2> My interests and learning paths </h2>

<ul>
  <li>Python</li>
  <li>R</li>
  <li>OpenCV</li>
  <li>NLP</li>
  <li>Machine Learning</li>
  <li>Data Visualization </li>
  <li>Database </li>
  <li>Cloud</li>
  <li>Programming</li>
  <li>Technologies</li>
  <li>Big Data</li>  
  <li>Analysis</li>
  <li>Statistics & Math</li>
</ul>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
